@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Pretendard-Regular';
    background-color: #222;
}

/* header 영역 */

header{
    width: 100%;
    height: 1000px;
    margin:  auto;
    text-align: center;
  

}
header h1{
    font-family: 'Roboto Slab', serif;
    color: #7378FF;
    font-size: 100px;
    font-weight: bold;
    line-height: 180px;
    padding-top: 250px;
    position: relative;

}
.out{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-shadow:  -2px 0  #7378FF,
    0 2px #7378FF, 
    2px 0 #7378FF,
    0 -2px #7378FF; 
}   
.animation1{
    width: 160px;
    height: 160px;
    background-color: #ECA1A1;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 15%;
    animation-duration: 5s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}
@keyframes slidein {
    0% {transform: translateY(1px);}
    50% {transform: translateY(150px);}
    100% { transform: rotateY(10px); }

        
}

.animation2{
    width: 160px;
    height: 160px;
    background-color: #969FF8;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    animation-duration: 5s;
    animation-name: slideout;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes slideout{
    0% { transform: translateX(1px);}
    50% { transform: translateX(150px);}
    100% { transform: translate(2px);}
}

.animation3{
    width: 160px;
    height: 160px;
    background-color: #D995F1;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 15%;
    animation-duration: 5s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* 저는 이런사람이에요, 컨트롤러 */ 


.section-center{
    width: 1400px;
    margin: auto;


}
.List{
    flex-direction: column;
    justify-content: space-evenly;
    font-family:  'InfinitySans-RegularA1';
    font-size: 20px;
    padding-top: 200px;
 

}
.column1{
    display: flex;
    flex-direction: column;
}

.photo{
    position: sticky;
    top: 100px;
    margin-left: 200px;
    width: 300px;

}
.List-text{
    margin-left: 790px;
}
.List-text p {
    padding-bottom: 60px;
}
.remote{
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;

}
.remote p{
    padding: 9px;
    margin-top: 18px;



}

.jakup{
    padding-top: 200px;
}
.remote a{
    text-decoration: none;
    color: #7378FF;
    padding-bottom: 5px;

}
.w3-green{
    background-color: #969FF8;
    border-radius: 3px;
}
.w3-green2{
    background-color: #969FF8;
    border-radius: 3px;
}

.section2-bg{
    background-color: #f2f2f2;
    height: 670px;
}
.section1-bg{
    background-color: #f2f2f2;
}
.percent-list{
    display: flex;

}
.skillbox{
    width: 470px;
    margin: auto;  
    height: 530px;
    background-color: #ECA1A1;
    text-align: left;
    border-radius: 5px;
    margin-right: 142px;

}
.skillbox-text{
    padding: 35px 0 10px 35px;
}
.skillbox p{
    margin-bottom: 40px;
    font-size: 17px;
    font-family: 'InfinitySans-RegularA1';

}
.skillbox li {
    list-style: none;

}
.w3-progress-container{
    width: 360px;

}
.percent-top li{
    margin-top: 15px;
    margin-bottom: 35px;
}

.percent-image li{
    margin-bottom: 10px;
}
.w3-text-white{
    margin-left: 60px;
    color: white;
}
.icons{
    display: flex;
    padding-left: 120px;

}
.icons li{
    margin-right: 40px;
}
.card-background{
    height: 2000px;
}
.card-box img{
    display: block;
    margin: auto;
    max-width: 80%;
    padding-top: 50px;
    border-radius: 10px;

}

.card-box{
    position: sticky;
    top: 100px;
    margin-top: 200px;
    height: 500px;
    background-color: #BFD7FA;
    border-radius: 5px;
    width: 500px;
    transition : all 0.2s 
}

.card-box a{
    text-decoration: none;
}
.card-box p{
    font-size: 25px;
    margin-top: 70px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';;
    color: #ffff;
    line-height: 40px;

}

.section-center2{
    width: 500px;
    margin: 500px auto;
    background-color: #f2f2f2;;
    text-align: center;
   
}

.background-value{
    background-color: #f2f2f2;
}

.section-center2 h2{
    font-weight: 600;
    color: rgb(73, 73, 73);
}
.section-center3{
    width: 100%;
    background-color: #f2f2f2;
    height: 760px;
}
.resume-box{
    width: 990px;
    margin:  auto;


}
.resume-text{
    display: flex;
    justify-content: center;
    padding-top: 220px;
    line-height: 50px;
    color: #333;
    margin-bottom: 60px;
    padding-left: 150px;


}
.vertical-line{
    height: 130px;
    width: 2px;
    background-color: #222;
    margin-right: 50px;
    margin-left: 50px;
  
}
.resume-list{
    font-size: 18px;
    font-weight: bold;

}


.resume-list li{
    list-style: square;

}
.resume-h3 h3{
    padding-top: 30px;
    line-height: 50px;
    width: 300px;
}
.vertical-line{
    margin-top: 12px;
}
.resume-link{
   text-align: center;

}
.resume-link a{
    padding: 10px;
    border: 1px solid #8084ff;
    border-radius: 5px;
    text-decoration: none;
    color: #8084ff;
}
.resume-link a:hover{
    background-color: #e6e6ff;
    transition: 0.4s;
}


.publish h1{
    width: 200%;
    padding-top: 200px;
    text-align: center;
    font-size: 100px;
    transform: translateX(500px);
    box-sizing: border-box;
    text-shadow:  -2px 0  #808080,
    0 2px #808080, 
    2px 0 #808080,
    0 -2px #808080;
    color: #fff;
}
.section-center4{
    width: 100%;
    margin: 200px auto;
    text-align: center;

   
}

.section-center4 h3{
    margin: 70px 0;
}
.section-center4 p{
    font-size: 20px;
    line-height: 35px;
    color: #666;

}
.section-center4 a{
    text-decoration: none;

}
.section-center4 h1{
    font-size: 100px;
}